.header {

    width: 100%;
    margin: 0 auto;
    background-color: $bg;
    position: relative;
    padding: 0 20px 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 790px) {}

.header__nav {
    width: 100%;
    max-width: 740px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 50px;

}

@media (max-width: 790px) {
    .header__nav {
        flex-direction: column;
        padding: 10px 0px 10px;
    }
}

.header__nav-part1 {
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    opacity: 0.6;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Proxima Nova";
}

@media (max-width: 790px) {
    .header__nav-item {

        padding-top: 10px;
    }
}

.header__nav-kitchen-master {
    color: #f39c12;
    font-family: Novecentowide;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
    margin: 0 45px;
    white-space: nowrap;
}

@media (max-width: 790px) {
    .header__nav-kitchen-master {
        order: -1;
        font-size: 30px;
    }
}

.header__nav-part3 {
    width: 200px;
    display: flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__intro {
    margin: 0 auto;
    width: 100%;
    max-width: 385px;
    text-align: center;
}

.header__intro-imgtop {

    height: 40px;
    background: url(../../../img/header/imgtop.png) no-repeat;
    background-position: center;
}

.no-rules {
    color: #ffffff;
    font-family: "Ostrich Sans Bold";
    font-size: 96px;
    font-weight: 700;
    // width: 386px;
    height: 125px;
    overflow: hidden;
}

// @media (max-width: 790px) {
//     .no-rules {

//     }
// }

@media (max-width: 400px) {
    .no-rules {
        height: 108px;
    }
}

.header__intro-imgmid {

    height: 60px;
    background: url(../../../img/header/imgmid.png) no-repeat;
    background-position: center;
}

.dont-be-afraid {
    color: #ffffff;
    font-family: Novecentowide;
    font-size: 33px;
    font-weight: 700;
}

@media (max-width: 400px) {
    .dont-be-afraid {
        font-size: 30px;
        margin-top: 10px;
    }
}

.to-do-whatever {
    color: #ffffff;
    font-family: "Lavanderia - Sturdy";
    font-size: 42px;
    font-weight: 400;
    position: relative;

    &::before {
        position: absolute;
        content: url(../../../img/header/watever.svg);
        top: -25%;
        left: 45px;
    }

    &::after {
        position: absolute;
        content: url(../../../img/header/watever.svg);
        top: -25%;
        right: 55px;
    }
}

@media (max-width: 400px) {
    .to-do-whatever {
        font-size: 42px;

        &::before {
            left: -7px;
        }

        &::after {
            right: -4px;
        }
    }
}

.you-want {
    color: #ffffff;
    font-size: 53px;
    font-weight: 700;
    font-family: "Novecentowide";
}

@media (max-width: 400px) {
    .you-want {
        font-size: 45px;
    }
}

.Cooking {
    color: #ffffff;
    font-family: Neou;
    font-size: 61px;
    font-weight: 700;
}

.doesnt-have {
    color: #ffffff;
    font-family: "Ostrich Sans";
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}

.header__intro-imgbot {

    height: 60px;
    background: url(../../../img/header/imgbot.png) no-repeat;
    background-position: center;
}

.header__triangle {
    width: 100%;
    height: 265px;
    position: absolute;
    bottom: 0;


    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #fff 50%, #fff 100%);


}

@media (max-width: 790px) {
    .header__triangle {
        display: none;
    }
}