@font-face {
    font-family: 'Lavanderia - Sturdy';
    src: local('Lavanderia-Sturdy'), url('https://nomail.com.ua/files/woff/d1e7459984b795346649092483380c71.woff') format('woff');
}

@font-face {
    font-family: 'Neou';
    src: local('Neou'), url('https://nomail.com.ua/files/woff/c03a7621e3d3477601c64d0546d1572b.woff') format('woff');
}

@font-face {
    font-family: 'Novecentowide';
    src: local('Novecentowide'), url('https://nomail.com.ua/files/woff/c1dcc669f9c3bfee56ddacf5ba0c4225.woff') format('woff');
}

@font-face {
    font-family: 'Ostrich Sans Black';
    src: local('Ostrich Sans Black'), url('https://nomail.com.ua/files/woff/53bc9abf1c5e3d60c7f896aa78b189c1.woff') format('woff');
}

@font-face {
    font-family: 'Ostrich Sans';
    src: local('OstrichSans'), url('https://nomail.com.ua/files/woff/d1868664884518f825a10656408107d5.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: local('ProximaNova-Regular'), url('https://nomail.com.ua/files/woff/bf9f5d50c1b928ff21436517a1a95ad9.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'), url('https://nomail.com.ua/files/woff/72b6f2c9990bd3d37b8013a59ed78902.woff') format('woff');
}