@font-face {
    font-family: "Lavanderia - Sturdy";
    src: url(../../fonts/Lavanderia-Sturdy.woff);
}

@font-face {
    font-family: "Neou";
    src: url(../../fonts/Neou-Bold.woff);
}

@font-face {
    font-family: "Novecentowide";
    src: url(../../fonts/Novecento-Wide.woff);
}

@font-face {
    font-family: "Ostrich Sans Bold";
    src: url(../../fonts/OstrichSans-Bold.woff2);
}

@font-face {
    font-family: "Ostrich Sans";
    src: url(../../fonts/OstrichSans.woff2);
}

@font-face {
    font-family: "Ostrich Sans - Black";
    src: url(../../fonts/OstrichSans-Black.woff2);
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url(../../fonts/ProximaNova-Regular.woff2);
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../../fonts/ProximaNova.woff2);
}